
# Gradle files
.gradle/
build/
local.properties

# Intellij
*.iml
.idea/navEditor.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/vcs.xml

# Android Studio
captures/
.externalNativeBuild
.cxx

# Mac
.DS_Store